html {background-color: #e9d1ad;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;}

.container {  display: grid;
    grid-template-columns: 0.6fr 1.4fr 1fr;
    grid-template-rows: 4em 1.2fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "roomsDisplay currentMapDisplay vaultDisplay"
      "roomsDisplay monsterDisplay vaultDisplay";
  }


  button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#ec7631;
    text-align:center;
    transition: all 0.2s;
  }
  button:hover{
    background-color:#bd795e;
  }

  .roomDiv{
    border-radius: 25px;
    background: #88cdec;
    padding: 10px;
    width: 90%;
    height: 75px;
  }

  .monsterDiv{
    border-radius: 25px;
      background: #b85858;
      padding: 10px;
      width: 90%;
      height: 75px;
  }

  .monsterInRoom{
      border-radius: 25px;
      background: #b14031;
      padding: 10px;
      width: 90%;
      height: 75px;
      
  }
  
  .roomsDisplay {
    padding: 10px;
    width: 90%;
    grid-area: roomsDisplay;
    height: 650px;
    overflow:scroll; 
    background: #c75f79;
    border-radius: 10%;
  }

  .monsterDisplay {
    padding: 10px;
    border-radius: 10%;
    grid-area: monsterDisplay;
    overflow:scroll;
    background: #c48449;
  }
  
  .vaultDisplay { 
    padding: 10px;
    width: 90%;
    grid-area: vaultDisplay;
    height: 650px;
    overflow:scroll;
    background: #498856;
    border-radius: 10%;               
  }
  
  .currentMapDisplay { grid-area: currentMapDisplay; overflow: scroll; }

  .column {
    float: left;
  }

  .left{
    width: 10%;
  }
  
  .right {
    width: 25%;
  }

  .middle {
    width: 65%;
  }


/*
  li{color: #C38d9e}
  ul{color: #C38d9e}

  body {
    margin: 0;
    color: #E27d60;
    background: #Cafafe;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    
  }
  */