html
link(rel='stylesheet', href='/style.css')
head
    title Home Page
if (session.loggedin)
    header
        a(href='/images') Image Upload
        br
        a(href='/dungeons') Dungeon Selector
        br
        a(href='/logout') Logout
        br
    body
        h1 Welcome to home page!
        a()=`You are logged in as username ${session.username}`
else
    header
        a(href='/register') Register for Account
        br
        a(href='/login') Login
        br
    body
        h1 Welcome to home page!
        p You are not logged in.
