html
link(rel='stylesheet', href='/style.css')  
script(src="/dungeonViewer.js") 
head
    title Manage Dungeon
h1= `Manage Dungeon: ${dungeon.name}, id: ${dungeon._id}`
h2(id= 'currentRoomName') Current Room: New Room
hr
a(href='/') Home
br
a(href='/images') Image Upload
br
br
meta(name="DungeonIDMeta" content=`${dungeon._id}`)
body(onload="init()")
    input#dungeonID(hidden value=`${dungeon._id}`)
    p Room Name (leave empty for untitled, will overwrite same-name files)  
        input#roomName(type="textbox" value= "new room")
    button#saveRoomButton(type="button" onclick="saveRoom()") Save Room to Dungeon
    <div id = "mainViewcontainer" class="container">
        <div class="roomsDisplay" id = "roomsDisplay">
            h1 Rooms
            div#roomsInDungeon
        </div>
        <div id= "monsterDisplay" class="monsterDisplay" ondrop= "drop(event)" ondragover= "allowDrop(event)">
            div#roomStats

        </div>
        <div id="vaultDisplay" class="vaultDisplay" ondrop= "dropVault(event)" ondragover= "allowDrop(event)">
            h1 Vault
            h2 Search for Monsters:
            p Monster Name:
                br
                input#monsterNameSearch(type="textbox")
                br
            p Monster Challenge Rating (=)
                br
                input#monsterChallengeSearch(type="textbox")
                br
            button#searchButton(type="button" onclick="searchVault()") Search
            h2 Monsters: 
            div#monstersInVault
        </div>
        <div class="currentMapDisplay">
            p currentMap</div>
    </div>