html
  
head
    title welcome home

h1 Upload Images
hr
a(href='/') Home
a(href='/images') Image Upload
br
br
for monster in monsters
    li= `Name: ${monster.name}, Size: ${monster.size}, HP: ${monster.hit_points}`